<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>목록</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="portfolio-flex-row">
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://smart-currant-a42.notion.site/bf2a2afd0b244e658f614c7991ab24bd?v=7f65d0454b50444e935127f3a1704495" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/016.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://smart-currant-a42.notion.site/06251e3daea948e795e2fef00d1f0c73" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/002.jpg" class="img-responsive">
                </a>
            </div>
<!---
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://smart-currant-a42.notion.site/5e51b06f97f943edbb9d7c43214989cf" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/003.jpg" class="img-responsive">
                </a>
            </div>
--->
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://smart-currant-a42.notion.site/9644cb96df4b4ace8783bd4555f7392a" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/004.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://smart-currant-a42.notion.site/64da3554c84945a0928c56cfba4e54ec" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/017.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">

                <a href="http://wo.to/board/board.php?id=a.1.rlatkdqja04" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/005.png" class="img-responsive">
                </a>
            </div>
<!---
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/b4893356cd634209ba050083def1b0c9" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cabin.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/9b5cc6725ef249358fc92bdeeb1a255f" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cake.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/2d33999f086e4caa988d9119af327354" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/circus.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/29dac8b0a8ab4ce78882807319ae246f" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/safe.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/343e88a583e54ef3807abd74a1851b19?v=33aa6dd07c1244f0a1a1d63d676842ae" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/ect.png" class="img-responsive">
                </a>
            </div>
--->
        </div>
    </div>
</section>
